@import '~antd/dist/antd.css';

.flex-col {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
}

.flex-row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

div.ant-descriptions-title {
    margin-bottom: 0.5rem;
}
