  .uploadButton{
    width: 200px;
    height: 200px;
    border-radius:100%;
    //border: 10px solid #fff;
    overflow: hidden;
    background: url("../../Images/buttonIcon.png");
    //background: #fff;
    box-shadow: 0px 5px 8px 5px rgba(0,0,0,0.2);
    position: absolute;
    background-size:100% 100%;
    bottom: 0;
    top: 0;
    right: 0;
    left: 0;
    margin: auto;
    //animation: opacityDelete 4s ease;
    //opacity: 0.6;
    z-index: 101;
    .uploadIcon{
      width: 100px;
      height: 100px;
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      margin: auto;
    }
  }
  .indexHead{
    height:400px;
    width: 100%;
    //background: #49ba98;
    background:url("../../Images/bg2.png");
    background-size: 100% 100%;
    position: relative;
  }

  //图片裁剪按钮CSS
  .imageCropper{
    display: flex;
    align-items:center;
    justify-content: space-between;
    font-size:26px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    position: absolute;
    right: 30px;
    bottom: 70px;
    margin:auto;
    box-shadow: 0px 0px 2px 2px rgba(0,0,0,0.6);
    Image{
      width: 100%;
      height: 100%;
    }
    View{
      &:first-child{
        margin-right: 30px;
      }
    }
  }
  .titleName{
    margin: 20px auto;
    width: 690px;
    display: flex;
    align-items:center;
    justify-content: space-between;
  }
  .mainListBox{
    width: 690px;
    margin: 30px auto;
    display:flex;
    flex-wrap:wrap;
    justify-content: space-between;
  }

  //两个模态按钮
  .motBtn{
    width:100px;
    height: 100px;
    border-radius:50%;
    border:#c7c7c7 1px solid;
    background:#fff;
    opacity: 0.6;
    display:flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    right: 30px;
    bottom: 80px;
    Image{
      width: 60px;
      height: 60px;
    }
  }
  .returnTop{
      bottom: 220px;
  }

  .main{
    border-radius: 30px 30px 0px 0px;
    position: relative;
    top: -50px;
    background: #fff;
    padding-top: 10px;
  }

  //为空的图标
  .empty{
    width: 440px;
    height: 636px;
    display: block;
    margin:auto;
  }

@keyframes animateScale {
  0%{transform: scale(0.1);opacity:0}
  20%{transform: scale(0.1);opacity:0}
  50%{transform:scale(1.1)}
  100%{transform:scale(1);opacity:1}
}
@keyframes opacityDelete {
  0%{opacity: 1}
  50%{opacity: 1}
  100%{opacity:0.6}
}

//新的版本Css
.TB_box{
  width:330px;
  //border: 1px solid #dedede;
  margin-bottom: 30px;

  &>Image{
    width: 330px;
    height: 330px;
  }
  .infoBox{
    box-sizing: border-box;
    padding: 0px 15px;
    .title{
      font-size: 32px;
      color: #1b1c1e;
      display: flex;
      align-items: center;
      .icon{
        min-width: 60px;
        height: 40px;
        line-height: 40px;
        background: #ff033a;
        display: inline;
        color: #fff;
        padding: 2px 10px;
        font-size: 24px;
        border-radius:10px;
        margin-right: 10px;
        text-align: center;
        margin-bottom: 10px;
      }
    }
    .shopName{
      font-size: 26px;
      color: #9d9d9b;
      width: 100%;
      overflow: hidden;/*超出部分隐藏*/
      white-space: nowrap;/*不换行*/
      text-overflow:ellipsis;
    }
    .money{
      display: flex;
      color: #ff4b00;
      font-size: 32px;
      .score{
        display: flex;
        align-items: center;
        margin-right: 15px;
      }
    }
    .labels{
      color: #ff4b00;
      display: flex;
      font-size: 24px;
      flex-wrap:wrap;
      justify-content: flex-start;
      View{
        padding:2px 5px;
        color: #d46b2a;
        border: #ead6bc 1px solid;
        margin-bottom: 5px;
        margin-right: 20px;
        border-radius: 5px;
      }
    }
  }
}


//模态
.model{
  position:fixed;
  width:100%;
  height:100%;
  background: rgba(0,0,0,0.6);
  justify-content: center;
  align-items: center;
  .progress{
    margin: auto;
    width: 80%;
  }
}


